.verifyCard {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    margin-top: 10px;
}

.verifyCard > div,
p {
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
}
.verifyCard > p {
    padding: 0;
}

.textBox{
    width : 60vw;
    height : 60vh;
    text-align: center;
    padding : 30px 10px 10px 10px;
    background: #fff;
}

.textBox > p{
    color : #08701b !important;
}